<body>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">DJ IRS</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a data-open="registerpop">Sign Up</a></li>
      <li><a data-open="loginpop">Login</a></li>
    </ul>
  </div>
</div>

<div class="reveal" id="registerpop" data-reveal>
  <h1>Create an Account</h1>
  <form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Enter email
          <input type="email" placeholder="email@example.com">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>First Name
          <input type="text" placeholder="First Name">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Last Name
          <input type="text" placeholder="Last Name">
        </label>
      </div>s
      <div class="medium-6 cell">
        <label>Create Username
          <input type="text" placeholder="Username">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Create Password
          <input type="password" aria-describedby="passwordHelpText">
        </label>
        <p class="help-text" id="passwordHelp">Create a strong password.</p> 
      </div>
    </div>
  </div>
</form>
<a href="home.html" class="button">Register</a>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="loginpop" data-reveal>
  <h1>Create an Account</h1>
  <form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Username
          <input type="text" placeholder="Enter your username">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Password
          <input type="text" placeholder="Enter your password">
        </label>
      </div>
    </div>
  </div>
</form>
<a href="home.html" class="button">Log in</a>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</body>